html,
body {
  padding: 0;
  margin: 0;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px auto 100px;
}

header {
  height: 100%;
  grid-column: 1 / span 5;
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-column: 1 / span 3;
  grid-row: 3 / span 5;
  min-height: 80vh;
  background-color: lightcyan;
}

aside {
  grid-column: 4 / span 5;
  grid-row: 2 / span 6;

  background-color: lightgray;
}

aside .menu {
  text-align: center;
  font-size: 20px;
}

aside .menu ul li {
  margin-top: 20px;
  list-style-type: none;
}

aside .menu ul li a {
  text-decoration: none;
}

footer {
  grid-column: 1 / span 5;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
}

footer div a {
  text-decoration: none;
}

#header1 {
  text-align: center;
  justify-content: space-between;
  display: flex;
  list-style: none;
  color: rgb(4, 27, 41);
  text-decoration: none;
  font-size: 14px;
}

#header2 {
  text-align: center;
}

#header3 {
  text-align: center;
}

.img {
  display: block;
  border-radius: 10px;
  border: 3px solid salmon;
  text-align: center;
  margin: auto;
}

#informacion {
  background-color: lightskyblue;
}

.footer {
  background-color: burlywood;
  justify-content: space-between;
  justify-content: center;
  display: flex;
  list-style: none;
  color: rgb(4, 27, 41);
  text-decoration: none;
  font-size: 14px;
}

@media only screen and (max-width: 400px) {
  aside {
    grid-column: 1 / span 5;
    grid-row: 2;
  }
  /*
  #header1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .espacio {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }*/
  main {
    grid-column: 1 / span 5;
  }
}

h2 {
  font-size: 4em;
  text-align: center;
}

h3 {
  font-size: 2em;
  text-align: center;
}

p {
  font-weight: lighter;
}

.espacio {
  justify-contet: space-between;
}

.rombo:hover {
  transform: rotate(45deg);
}

.desplazar {
  /*Desplaza el elemento 10px hacia la derecha y 5% hacia abajo desde su posicion de origen */
  transform: translate(10px, 0px);
}
.desplazar:hover {
  /*Al pasar por encima del elemento lo mueve 10px hacia arriba DESDE SU POSICION ORIGINAL    */
  transform: translateX(30px);
}
